# Set

### Exercise 01
Find the length of the set it_companies.

Add 'Twitter' to it_companies.

Insert multiple IT companies at once to the set it_companies.

Remove one of the companies from the set it_companies.

What is the difference between remove and discard.

In [17]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

#Find the length of the set it_companies 
len(it_companies)

#Add 'Twitter' to it_companies
it_companies.add("Twitter")

#Insert multiple IT companies at once to the set it_companies
new = {"bela", "belabela"}
it_companies.update(new)

#Remove one of the companies from the set it_companies
it_companies.remove("belabela")

#What is the difference between remove and discard
"""
If the item to remove does not exist, remove() will raise an error.
If the item to remove does not exist, discard() will NOT raise an error.
"""

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'bela'}

### Exercise 02
Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [21]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_st = set(age)

if len(age) < len(age_st):
    print("age set is bigger") 

if len(age) > len(age_st):
    print("age list is bigger")

if len(age) == len(age_st):
    print("equal")

age list is bigger

### Exercise 03
(I am a teacher and I love to inspire and teach people.) How many unique words have been used in the sentence?Use the split methods and set to get the unique words.

In [41]:

sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split(" ")
unique_words = set(words)

len(unique_words)

10